# Jupyter Notebook
.ipynb_checkpoints
datasets/*
!datasets/ds.py
!datasets/Alkane/*
!datasets/acyclic/*
!datasets/MAO/*
!datasets/PAH/*
!datasets/MUTAG/*
!datasets/Letter-med/*
!datasets/ENZYMES_txt/*
notebooks/results/*
notebooks/check_gm/*
notebooks/test_parallel/*
requirements/*
pygraph/model.py
pygraph/kernels/*_sym.py
*.npy
*.eps
*.dat
*.pyc

__pycache__
##*#
