# Jupyter Notebook
.ipynb_checkpoints

# Datasets.
datasets/*
# The following datasets are required for tests.
!datasets/ds.py
!datasets/Alkane/
!datasets/acyclic/
!datasets/Acyclic/
!datasets/MAO/
!datasets/PAH/
!datasets/MUTAG/
!datasets/Letter-med/
!datasets/ENZYMES_txt/
!datasets/DD/
!datasets/NCI1/
!datasets/NCI109/
!datasets/AIDS/
!datasets/monoterpenoides/
!datasets/Monoterpenoides/
!datasets/Fingerprint/
!datasets/Cuneiform/
notebooks/results/*
notebooks/check_gm/*
notebooks/test_parallel/*
requirements/*
gklearn/model.py
gklearn/kernels/*_sym.py
*.npy
*.eps
*.dat
*.pyc


# preimage.
gklearn/preimage/*
!gklearn/preimage/*.py
!gklearn/preimage/experiments/*.py
!gklearn/preimage/experiments/tools/*.py

# gedlibpy
gklearn/gedlib/build/
gklearn/gedlib/build/__pycache__/
gklearn/gedlib/collections/
gklearn/gedlib/Median_Example/
gklearn/gedlib/build/include/gedlib-master/median/collections/
gklearn/gedlib/include/
gklearn/gedlib/lib/
#gklearn/gedlib/include/gedlib-master/
gklearn/gedlib/gedlib-master.zip
gklearn/gedlib/libgxlgedlib.so

# misc
notebooks/preimage/
notebooks/unfinished
gklearn/kernels/else/
gklearn/kernels/unfinished/
gklearn/kernels/.tags

# tests.
gklearn/tests/datasets/
.pytest_cache/

# Experiments.
gklearn/experiments/datasets/

# Docs.
docs/build/*
!docs/build/latex/*.pdf
docs/log*

# outputs.
outputs/

__pycache__
##*#

*.egg-info
dist/
build/

.coverage
htmlcov

virtualenv

.vscode/

# pyenv
.python-version

# docker travis debug.
ci.sh

# PyCharm.
#.idea/

