numpy>=1.16.2
scipy>=1.1.0
matplotlib>=3.1.0
networkx>=2.2
scikit-learn>=1.1.0
tabulate>=0.8.2
tqdm>=4.26.0
control>=0.8.2 # for generalized random walk kernels only.
# slycot>=0.3.3 # for generalized random walk kernels only, which requires a fortran compiler (e.g., `gfortran`) and BLAS/LAPACK (e.g. `liblapack-dev`)
# cvxpy>=1.0.31 # for preimage. Does not work for "pip install graphkit-learn".
# -e https://files.pythonhosted.org/packages/11/d0/d900870dc2d02ea74961b90c353666c6528a33ea61a10aa59a0d5574ae59/cvxpy-1.0.31.tar.gz # for preimage.
cvxopt>=1.2.5 # for preimage.
mosek>=9.2.5; python_version >= '3.6' # for preimage.
